.aui-button,
.aui-button:visited,
a.aui-button {
    box-sizing: border-box;
    transition: background-color .1s ease-out;
    border-radius: 3.01px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-variant: normal;
    font-weight: 400;
    background-image: none;
    background-color: rgba(9,30,66,.08);
    border-color: transparent;
    color: #344563;
    text-decoration: none;
    display: inline-block;
    height: 2.14285714em;
    line-height: 1.42857143em;
    margin: 0;
    padding: 4px 10px;
    vertical-align: baseline;
    white-space: nowrap;
}

.aui-button.aui-button-primary,
.aui-button.aui-button-primary:visited {
  background-image: none;
  background-color: #0052cc;
  border-color: transparent;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.aui-button[aria-disabled=true],
.aui-button[aria-disabled=true]:active,
.aui-button[aria-disabled=true]:focus,
.aui-button[aria-disabled=true]:hover,
.aui-button[aria-disabled=true][aria-pressed],
.aui-button[disabled],
.aui-button[disabled]:active,
.aui-button[disabled]:focus,
.aui-button[disabled]:hover {
  background-color: #f4f5f7;
  border-color: transparent;
  color: #a5adba;
  cursor: default;
}
